:root {
	--white: #FFFFFF;
	--black: #000000;
	--typeBaseSize: 15px;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--color-body: #fdf9f5;
	--color-bg: #caafa8;
	--typeHeaderSize: 50px;
	--typeBasePrimary: Montserrat;
	--typeHeaderSpacing: 0.0em;
    --typeBaseLineHeight: 1.7;
}