.controls {
	display: flex;
	justify-content: end;
	margin-bottom: 1.5rem;
	button {
		width: 40px;
		height: 40px;
		border: 0;
		background-color: #14c8eb;
		color: white;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.5s ease-out;
		&:hover {
			background-color: #0ea8c7;
		}
		&:nth-child(1) {
			margin-right: 2rem;
		}
	}
}

.slick-next, .slick-prev {
    width: 60px !important;
    height: 60px !important;
	&:before{
		font-size: 60px;
	}
}