@import 'vars';

.item {
	background: transparent;
	--bs-card-bg: transparent !important;
	border: none !important;
	.title {
		font-size: calc(var(--typeBaseSize)*1.22) !important;
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		color: var(--white);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.text {
		color: white;
		font-size: calc(var(--typeBaseSize) - 2px);
		text-align: center;
		margin-top: 3px;
	}
	.button {
		margin: 0 0 20px;
		width: 100%;
		padding: 8px;
		min-width: 28px;
		display: inline-block;
		height: 35px;
		padding-top: 5px;
		background: transparent;
		border: 1px solid var(--white);
		color: var(--white);
		font-size: var(--typeBaseSize);
		font-weight: 400;
		margin-bottom: 8px;
	}
}
.item__meta {
	padding: 30px 0 !important;
}

.btn:hover {
    background: var(--white) !important;
	border: 1px solid transparent !important;
    color: var(--color-bg) !important;
}
